.event-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.3); /* darkened background */
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000;
}

.event-modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.15);
  border: 5px solid #b0afb0; 
}

.event-modal h2 {
  margin: 0 0 10px 0;
}

.event-modal label {
  font-weight: 600;
}

.event-modal input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.input-row label {
  width: 100px; 
  font-weight: 600;
}

.input-row input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.confirm,
.cancel {
  background: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid; 
  cursor: pointer;
  transition: 0.2s;
  height: 40px; 
  min-width: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.confirm {
  color: #1eaa1e;
  border-color: #1eaa1e;
}

.confirm:hover {
  background: #1eaa1e;
  color: white;
}

.cancel {
  color: #d9534f;
  border-color: #d9534f;
}

.cancel:hover {
  background: #d9534f;
  color: white;
}
